
<!DOCTYPE html>
{% load static %}

<html  lang="en">
<head>
 <title>Speaker Recognizer</title>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 
 <meta name="description" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800|Oswald:200,300,400,500,600,700&display=swap"> 

 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
 <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
 <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
 <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
 <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
 <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
 <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
 <link rel="stylesheet" href="{% static 'css/slick.css' %}">
 <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
 <link rel="stylesheet" href="{% static 'css/style.css' %}">



</head>
<body>
 <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                  <img src="{% static 'img/logo/loder.jpg' %}" alt="">  
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

 <header>
        <!-- Header Start -->
       <div class="header-area header-transparent">
            <div class="main-header">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-1 col-md-1">
                                <div class="logo">
                                  <a href="index.html"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            
                                        </ul>
                                    </nav>
                                </div>
                            </div>             
                         
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>


{% comment %} <header>

 <main>
  <section class="left-sec">
      <div class="text-center">
            <h1><a class="heading" href="/index/">Speaker Recognizer to identify who is speaking</a></h1>
        </div>
        <div class="container" id="Container1">
          <div class="row">
            <div class="col-sm-4 text-center" id="FileUpload">
              <a href="{% url 'upload_file' %}" class="btnx ">Upload audio file</a>
            </div>
            <div class="col-sm-4 text-center" id="FileDelete">
              <a href="{% url 'file_delete' %}" class="btnx ">Delete a file from the server</a>
            </div>
            <div class="col-sm-4 text-center" id="makePredictions">
              <a href="{% url 'file_select' %}" class="btnx ">Make your prediction</a>
            </div>
          </div>
        </div>
         <div class="jumbotron text-center" id="myJumbotron2" style="background-color:white">
             <div class="container" id="Container2">
               <div class="row">
                  <div class="col-sm-12 text-center" id="PredictionsOutput">
                  {% for pred in predictions %}
                    <h4 class="stamp">The speaker of the audio file is: <strong  class="output">{{ pred }}</strong> </h4>
                    <p class="stamp"><strong>TransScript: </strong>{{transscript}} </p>
                    <p class="stamp"><strong>Main Words: </strong>
                    {% if main_words %}
                    {{main_words}}
                    
                    {% endif %}
                     </p>

                  {% endfor %}
                    {% if data %}
                 <img src="data:image/png;base64,{{data}}" height="500" width="525">
 {% endif %}
                  </div>
               </div>
             </div>
         </div>
         <div class="container">
             <div class="center">
              {% block content %}
              {% endblock %}
             </div>
         </div>
  </section>

  <section class="right-sec">
   <figure>
   
   </figure>
  </section>
 </main>
</header> {% endcomment %}


    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>

    <script src="{% static 'js/popper.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

    <script src="{% static 'js/slick.min.js' %}"></script>

    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/animated.headline.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>

    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>

    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

    <script src="{% static 'js/jquery.validate.min.js' %}"></script>

    <script src="{% static 'js/jquery.form.js' %}"></script>

    <script src="{% static 'js/plugins.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>

       </body>
</html>